<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body >
	<div th:fragment="pageContent">
		<div class="row">
			<div class="col-lg-12">
				<div th:if = "${operationStatus}"> 
					<div th:replace="${operationStatus} :: operationStatus"> </div>
				</div>
				<ul class="nav nav-tabs tabs-bordered">
					<li class="nav-item">
						<a href="#tab_form" data-toggle="tab" aria-expanded="false" class="nav-link active" th:text="#{_ajouter}"></a>
					</li>
					<li class="nav-item">
						<a href="#tab_list" data-toggle="tab" aria-expanded="true" class="nav-link" th:text="#{_afficher}"></a>
					</li>
					<li class="nav-item">
						<a href="#tab_upload" data-toggle="tab" aria-expanded="false" class="nav-link" th:text="#{_importer}"></a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_form">
						<div class="panel card panel-fill">
							<div class="card-header" style="padding-left: 20px;">
								<h5 class="font-16 m-1" th:text="#{_lieuPublic}"></h5>
							</div>
							<div class="card-body">
								<form  class="form-validation" th:object="${lieuPublicForm}" method="post">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label for="denomination" th:text="#{_denomination}"> <span class="text-danger">*</span></label>
												<input type="text" th:field="*{denomination}" required class="form-control" th:classappend="${#fields.hasErrors('denomination')} ? 'border-danger'">
												<small class="text-danger" th:if="${#fields.hasErrors('denomination')}" th:errors="*{denomination}"></small>
											</div>
											<div class="form-group">
												<label for="anneeCreation" th:text="#{_anneeCreation}"> <span class="text-danger">*</span></label>
												<input type="text" th:field="*{anneeCreation}" required class="form-control" th:classappend="${#fields.hasErrors('anneeCreation')} ? 'border-danger'">
												<small class="text-danger" th:if="${#fields.hasErrors('anneeCreation')}" th:errors="*{anneeCreation}"></small>
											</div>
											
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="latitude" th:text="#{_latitude}"> <span class="text-danger">*</span></label>
												<input type="text" th:field="*{latitude}" required class="form-control" th:classappend="${#fields.hasErrors('latitude')} ? 'border-danger'">
												<small class="text-danger" th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"></small>
											</div>
											<div class="form-group">
												<label for="longitude" th:text="#{_longitude}"> <span class="text-danger">*</span></label>
												<input type="text" th:field="*{longitude}" required class="form-control" th:classappend="${#fields.hasErrors('longitude')} ? 'border-danger'">
												<small class="text-danger" th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"></small>
											</div>
											
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="codeTypeLieuPublic" th:text="#{_typeLieuPublic}"><span class="text-danger">*</span></label>
												<select class="form-control" data-live-search="true" th:field="*{codeTypeLieuPublic}">
													<option value="">Choisir une option</option>
													<option th:each="typeLieuPublic : ${typeLieuPublics}" th:attr="value=${typeLieuPublic.code}"  th:text="${typeLieuPublic.libelle}"></option>
												</select>
											</div>
											<div class="form-group">
												<label for="codeLocalite" th:text="#{_localite}"><span class="text-danger">*</span></label>
												<select class="form-control" data-live-search="true" th:field="*{codeLocalite}">
													<option th:each="localite : ${localites}" th:attr="value=${localite.code}"  th:text="${localite.libelle}"></option>
												</select>
											</div>
										</div>
									</div>
									<div class="form-group text-right mb-0">
										<button class="btn btn-primary waves-effect waves-light mr-1" type="submit" th:text="#{_valider}"></button>
										<button type="reset" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
									</div>
			
								</form>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab_list">
						<div class="panel card panel-fill">
							<div class="card-header" style="padding-left: 20px;">
								<b class="font-16" th:text="#{_listeLieuPublic}"></b>
								<a href="/downloadLieuPublic" class="btn btn-sm btn-primary float-right"><i class="mdi mdi-file-excel"></i> <span th:text="#{_exporter}"></span></a>
							</div>
							<div class="card-body">
								 <table id="table_lieuPublic" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
									<thead>
										<tr>
											<th th:text="#{_denomination}"></th>
											<th th:text="#{_latitude}"></th>
											<th th:text="#{_longitude}"></th>
											<th th:text="#{_anneeCreation}"></th>
											<th th:text="#{_typeLieuPublic}"></th>
											<th th:text="#{_localite}"></th>
											<th th:text="#{_action}"></th>
										</tr>
									</thead>
				
									<tbody>
										<tr th:each="lieuPublic : ${lieuPublics}">
											<td th:text="${lieuPublic.denomination}"></td>
											<td th:text="${lieuPublic.latitude}"></td>
											<td th:text="${lieuPublic.longitude}"></td>
											<td th:text="${lieuPublic.anneeCreation}"></td>
											<td th:text="${lieuPublic.typeLieuPublic.libelle}"></td>
											<td th:text="${lieuPublic.localite.libelle}"></td>
											<td align="center" > 
												<a th:href="@{/updateLieuPublic/{code}(code=${lieuPublic.codeLieuPublic})}" class="btn btn-primary btn-xs"><i class="mdi mdi-pencil "></i> <span th:text="#{_modifier}"></span></a>
												<a href="#" th:attr="deleteLink=${'/deleteLieuPublic/'+lieuPublic.codeLieuPublic}" data-toggle="modal" data-target="#deleteConfirmation" class="btn btn-danger btn-xs deleteBtn"><i class="mdi mdi-trash-can-outline "></i><span th:text="#{_supprimer}"></span></a>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab_upload">
						<div class="panel card panel-fill">
							<div class="card-header" style="padding-left: 20px;">
								<h5 class="font-16 m-1" th:text="#{_importer}"></h5>
							</div>
							<div class="card-body">
								<form  action="/uploadLieuPublic" class="form-validation"  enctype="multipart/form-data" method="post">
									<div class="form-group">
										<label for="file" th:text="#{_fichierupload}"> <span class="text-danger">*</span></label>
										<input type="file" name="file" class="filestyle" data-btnClass="btn-primary">
									</div>
									
									<div class="form-group text-right mb-0">
										<button class="btn btn-primary waves-effect waves-light mr-1" type="submit" th:text="#{_valider}"></button>
										<button type="reset" class="btn btn-danger waves-effect" th:text="#{_annuler}"></button>
									</div>
			
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!-- Boite de dialogue pour confirmer la suppression d'un élément -->
		<div th:replace="deleteConfirmationBox :: deleteConfirmationBox"> </div>
	</div>
	
</body>
</html>