<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SINEA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
        content="Système d'Information National sur l'Eau et l'Environnement." />
    <meta name="keywords"
        content="">
    <meta name="author" content="Sirba Communication" />
    
    <!-- Favicon icon -->
    
    <link rel="icon" href="./assets/images/logo.png" type="image/x-icon">
    
    <!--<link rel="icon" href="/assets/images/log.ico" type="image/x-icon">
    <link href="/assets/glyphicon/css/bootstrap-glyphicons.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
	<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />-->
	
	 <!-- Google font-->     
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">	
	<!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="./assets/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="./assets/pages/waves/css/waves.min.css" type="text/css" media="all">
     
      <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="./assets/bower_components/sweetalert/css/sweetalert.css">
    <!-- animation nifty modal window effects css -->
    <link rel="stylesheet" type="text/css" href="./assets/css/component.css">
    
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="./assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="./assets/icon/icofont/css/icofont.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="./assets/icon/font-awesome/css/font-awesome.min.css">
    <!-- Syntax highlighter Prism css -->
    <link rel="stylesheet" type="text/css" href="./assets/pages/prism/prism.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/pcoded-horizontal.min.css">
   
    <script th:src="@{/assets/js/jquery-2.0.2.min.js}"></script>
	<link th:href="@{/assets/css/zTreeStyle.css}" rel="stylesheet" type="text/css" />
	
</head>
<!-- Menu horizontal fixed layout -->

<body>

<!-- Pre-loader start --> 
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"> </div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"> </div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"> </div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"> </div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"> </div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"> </div>
                    </div>
                </div>        
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"> </div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"> </div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"> </div>
                    </div>
                </div>          
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"> </div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"> </div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <div id="pcoded" class="pcoded">
        <div class="pcoded-container">
            <div   th:replace="menu1 :: menu1"> </div>
            
            <div class="pcoded-main-container">
                <div   th:replace="menu2 :: menu2"> </div>
				<div class="pcoded-wrapper">
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                        
                            <!-- Main-body start -->
                            <div class="main-body">
                           <!-- <div class="main-body" style="margin-top: 70px;">-->
                                <div class="page-wrapper" >
                                
                                    <!-- Page body start -->
                                    <div class="page-body">
										<div th:if = "${viewPath}">
											<div class="col-xl-12">
								                <div class="card">
								                    <div class="card-header" th:if = "${navigationPath}">
								                        <h5 th:text="${navigationPath}"> </h5>        
								                    </div>
								                    <div class="card-block">
								                        <div   th:replace="${viewPath} :: pageContent">
													</div>
								                    </div>
								                </div>
								            </div>				
										</div>  
                                    </div>
                                    <!-- Page body end -->
                                    
                                </div>
                            </div>
                            <!-- Main-body end -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="popup"> </div>
    
    <script th:src="@{/assets/js/jquery-2.0.2.min.js}"></script>
    
    <!-- Required Jquery -->
	<script type="text/javascript" src="./assets/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="./assets/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="./assets/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="./assets/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- waves js -->
    <script src="./assets/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="./assets/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="./assets/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="./assets/bower_components/modernizr/js/css-scrollbars.js"></script>
	
	<!--<script type="text/javascript" src="./assets/bower_components/chart.js/js/Chart.js"></script>-->
	<script src="./assets/js/pcoded.min.js"></script>
    
<script src="./assets/js/vertical/menu/menu-hori-fixed.js"></script>
<script src="./assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="./assets/js/script.js"></script>
<script src="./assets/highcharts10/highcharts.js"></script>
<script src="./assets/highcharts10/modules/series-label.js"></script>
<script src="./assets/highcharts10/modules/exporting.js"></script>
<script src="./assets/highcharts10/modules/export-data.js"></script>
<script src="./assets/highcharts10/modules/accessibility.js"></script>
<script th:src="@{/assets/js/colResizable-1.6.min.js}"></script>
  
  <!-- sweet alert js -->
<script type="text/javascript" src="./assets/bower_components/sweetalert/js/sweetalert.min.js"></script>
<script type="text/javascript" src="./assets/js/modal.js"></script>
<!-- sweet alert modal.js intialize js -->
<!-- modalEffects js nifty modal window effects -->
<script src="./assets/js/classie.js"></script>
<script type="text/javascript" src="./assets/js/modalEffects.js"></script>
  
	<script type="text/javascript">
        $(document).ready(function(){
    Highcharts.chart('evolution', {

title: {
    text: ' '
},

yAxis: {
    title: {
        text: ' Taux'
    }
},

xAxis: {
    accessibility: {
        rangeDescription: ''
    }
},

legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
},

plotOptions: {
    series: {
        label: {
            connectorAllowed: false
        },
        pointStart: 2018
    }
},

series: [{
    name: 'Evolution',
    data: [26.5,37.4,49.6,48.4]
}],

responsive: {
    rules: [{
        condition: {
            maxWidth: 500
        },
        chartOptions: {
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
            }
        }
    }]
}
});

    Highcharts.chart('indicateurs', {
    chart: {
        type: 'column'
    },
    title: {
        text: ' '
    },
    
    xAxis: {
        categories: [
        'Agadez', 'Diffa', 'Dosso', 'Maradi', 'Niamey','Tahoua','Tillaberi', 'Zinder'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Taux'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'TAT',
        data: [58.76,56.5,65.82,52.44,35.27,45.33,52.45,35.69]
    }, {
        name: 'TP',
        data: [6.72,10.72,7.61,4.42,5.21,6.51,10.06,6.42]
    }, {
        name: 'TD',
        data: [82.06,100,100,100,86.98,100,65.95,100]
    }]
});

    Highcharts.chart('TauxAccesEau', {
    chart: {
        type: 'column'
    },
    title: {
        text: ' '
    },
    xAxis: {
        categories: ['Milieu Rural', 'Milieu urbain', 'Ensemble']
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total fruit consumption'
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: ( // theme
                    Highcharts.defaultOptions.title.style &&
                    Highcharts.defaultOptions.title.style.color
                ) || 'gray'
            }
        }
    },
    legend: {
        align: 'right',
        x: -30,
        verticalAlign: 'top',
        y: 25,
        floating: true,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
    },
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: true
            }
        }
    },
    series: [{
        name: 'Pas de service',
        data: [0, 0, 0]
    }, {
        name: 'Service non amélioré',
        data: [39.9, 2.9, 34.5]
    }, {
        name: 'Service limité',
        data: [6.9, 7.3, 6.9]
    }, {
        name: 'Service élémentaire (basique)',
        data: [49.1,44.4,48.4]
    }, {
        name: 'Service géré en toute sécurité',
        data: [4.1,45.3,10.2]
    }]
    
});
});
    </script>
</body>
</html>