<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>SINEA</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="shortcut icon" th:href="@{/assets/images/favicon.png}">
		
		<link href="/assets/glyphicon/css/bootstrap-glyphicons.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
		<link href="/assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
        <link href="/assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
		
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
		<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />
		<link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
		
		<script src="/assets/vendor/jquery/jquery-2.0.2.min.js"></script> 
		
	</head>
    <body data-layout="horizontal" style="background:#fff">
        <!-- Begin page -->
        <div id="wrapper" style="height: auto;">
            <!-- Navigation Bar-->
            <header id="topnav" style="height: 50px;">
                <!-- Topbar Start -->
                <div class="navbar-custom" style="background: #005aaa;height: 50px;">
                    <div class="container-fluid" style="max-width:100%">		
                        <ul class="list-unstyled topnav-menu float-right mb-0">
                            <li class="dropdown notification-list">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines" style="margin:0px">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>
							<div style="top:50px" id="navigation" th:if = "${horizontalMenu}">
								<div th:replace="${horizontalMenu} :: horizontalMenu"> </div>
							</div>
                        </ul>
                        <!-- LOGO -->
                        <div class="logo-box">
                            <a th:href="@{/}" class="logo text-center">
                                <span class="logo-lg">
                                       <img style="height:50px" th:src="@{/assets/images/logo.png}">
                                        <!-- <span class="logo-lg-text-light">Simple</span> -->
                                </span>
                                <span class="logo-sm">
                                	<img style="height:50px" th:src="@{/assets/images/logo.png}">
                                     <!-- <span class="logo-sm-text-dark">NigerInfo</span> 
                                <img src="" alt="" height="22">-->
                                </span>
                            </a>
                        </div>
                        <!-- end #navigation -->
                    </div>
                </div>
                <!-- end Topbar -->
            </header>
			
			<div style="padding:30px;margin-top:50px">
				
				<div class="content">
					<!-- Start container-fluid -->
                    <!-- start  -->
                    <div th:if = "${viewPath}">
                        <div   th:replace="${viewPath} :: pageContent">
							
						</div>
						
					</div>
				</div>
				
			</div>

        </div>
        
		
        <!-- END wrapper -->

		<div id="popup"> </div>
		
		<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/vendor.min.js"></script>
        <script src="/assets/js/app.min.js"></script>
         
         <script src="/assets/libs/datatables/jquery.dataTables.min.js"></script>
        <script src="/assets/libs/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="/assets/libs/datatables/dataTables.responsive.min.js"></script>
		
		<script src="/assets/js/colResizable-1.6.min.js"></script>
		
		 
		     
    </body>
</html>